<div class="container">
    <div class="row">
        <div class="col ">
            <h1>
                This is app component.
            </h1>
            <hr>
            <app-servers></app-servers>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus quibusdam quis molestias inventore quam incidunt, iste, totam est porro architecto nulla qui perspiciatis doloremque? Eligendi perferendis vitae nobis aperiam!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus quibusdam quis molestias inventore quam incidunt, iste, totam est porro architecto nulla qui perspiciatis doloremque? Eligendi perferendis vitae nobis aperiam!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus quibusdam quis molestias inventore quam incidunt, iste, totam est porro architecto nulla qui perspiciatis doloremque? Eligendi perferendis vitae nobis aperiam!
            </p>
            <!-- <div class="app-servers"></div> -->
            <!-- <div app-servers></div> -->
            <app-success-alert></app-success-alert>
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
</div>
<div class="container-lg">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <app-user></app-user>
        </div>
    </div>
</div>